*{
    margin: 0;
    padding:0;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background: hsla(350deg, 65%, 50%, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    width: 80%;
    min-width: 720px;
    height: 540px;
    box-sizing: border-box;
    padding: 60px 80px;
    overflow: hidden;

    background: white;

    font-family: sans-serif;

    box-shadow: 0px 3px 5px black;

    position: relative;
}
main h1{
    font-size: 42px;
    font-weight: 700;
    text-align: center;

    margin-bottom: 100px;
}
main #textSection{
    width: 100%;
    
    background-color: transparent;
    border:none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);

    font-size: 22px;
    line-height: 30px;
    font-weight: 500;

    margin-bottom: 5px;
}
main #warning{
    color: red;
    font-size: 22px;
    font-weight: 600;
}
main #buttons{
    width: 100%;

    display: flex;
    justify-content: center;

    box-sizing: border-box;
    padding: 50px;

    position: absolute;
    bottom: 0;
    left: 0;
}
main #buttons button{
    color: white;
    font-size: 22px;

    box-sizing: border-box;
    padding: 3px 80px;
    border: none;
    border-radius: 5px;


}
main #buttons #cancleBtn{
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 7px;
}
main #buttons #submitBtn{
    background-color: hsla(350deg, 65%, 50%, 0.8);
    margin-left: 7px;
}